body {
    background-color: #d9ead3;
    font-family: 'Arial', 'sans-serif';
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    height: 50px;
    flex-shrink: 0;
    position: relative;
}

.home-nav-bar {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    height: 50px;
    flex-shrink: 0;
    position: relative;
}

.back, .settings {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.back img, .settings img {
    height: 50px;
    width: auto;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.logo img {
    height: 70px;
    width: auto;
}

.logo a:hover, .back a:hover, .settings a:hover {
    opacity: 0.8;
}

.split-screen {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.half-screen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100vw;
}

#top-half {
    background-color: #3498db;
}

#bottom-half {
    background-color: #e74c3c;
}

.half-screen:hover {
    opacity: 0.9;
}
