:root {
    --navbar-background: #333333;
    --navbar-height: 70px;
    --white: #f4f4f4;
    --light-grey: #d4d4d4;
    --dark-grey: #262626;
    --green: #2abb67;
    --green-hover: #26a65b;
    --red: #e74c3c;
    --red-hover: #e3301c;
    --blue: #3498db;
    --blue-hover: #2980b9;
    --transition: 0.3s ease;
}

body {
    font-family: 'Arial', 'sans-serif';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overscroll-behavior: none;
    overflow: hidden;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

/* Navigation bar */

.app-navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: var(--navbar-background);
    color: var(--white);
    padding: 10px 20px;
    height: var(--navbar-height);
    flex-shrink: 0;
    position: relative;
}

.nav-button {
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
}

#back img, #settings img {
    height: 50px;
    width: auto;
}

.logo img {
    height: 70px;
    width: auto;
}

#back {
    grid-column: 1;
    justify-self: start;
}

.logo {
    grid-column: 2;
    justify-self: center;
    cursor: pointer;
}

#settings {
    grid-column: 3;
    justify-self: end;
}

.nav-button:hover {
    opacity: 0.8;
}

/* Index */

#screen-home {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.split-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}

.index-half-screen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--navbar-background);
    font-size: 10em;
    cursor: pointer;
    transition: opacity var(--transition);
    width: 100%;
    min-height: 0;
}

#flag {
    font-size: 0.9em;
}

#top-half {
    background-color: var(--white);
}

#bottom-half {
    background-color: var(--light-grey);
}

.index-half-screen:hover {
    opacity: 0.9;
}

/* Timer */

#screen-timer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.timer-display {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--white);
}

.stopwatch-display {
    font-size: 5em;
    font-weight: bold;
    color: var(--navbar-background);
}

.timer-display button {
    background-color: var(--red);
    border-radius: 3px;
    padding: 5px 15px;
    border: none;
    margin: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--navbar-background);
    transition: background-color var(--transition);
    cursor: pointer;
}

.timer-display button:hover {
    background-color: var(--red-hover);
}

/* Results List */

.results-section {
    flex: 1;
    min-height: 0;
    background-color: var(--navbar-background);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.results-header {
    background-color: var(--dark-grey);
    padding: 20px 20px;
    text-align: center;
    color: var(--white);
}

.results-header h2 {
    margin: 0;
}

.results-header button {
    color: #063555;
    background-color: var(--blue);
    border-radius: 3px;
    padding: 5px 15px;
    border: none;
    height: 28px;
    font-weight: bold;
    transition: background-color var(--transition);
    cursor: pointer;
}

.results-header button:hover {
    background-color: var(--blue-hover);
}

.results-list-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    overflow-y: auto;
}

.result-card {
    background: rgb(36, 36, 36);
    border-radius: 8px;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.position {
    font-weight: bold;
    color: #e7ca25;
}

.time {
    font-weight: bold;
    color: white;
}

/* Timer Controls */

.timer-footer {
    display: flex;
    flex: 0 0 auto;
    background-color: var(--navbar-background);
    position: sticky;
    bottom: 0;
    z-index: 1;
    height: 10vh;
}

.timer-footer button {
    flex: 1;
    font-size: 2.5em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: var(--green);
    color: #f4f4f4;
    transition: background-color var(--transition);
}

.timer-footer button:hover {
    background-color: var(--green-hover);
}

#lap {
    background-color: var(--blue);
}

#lap:hover {
    background-color: var(--blue-hover);
}

/* previous races */

#race-history {
    padding: 20px;
}

.race-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.no-races {
    text-align: center;
    
}

.race-btn {
    font-family: 'Arial', 'sans-serif';
    font-weight: bold;
    font-size: 1.2em;
    color: #262626;
    width: 100%;
    padding: 15px 20px;
    background: var(--light-grey);
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    text-align: left;
    cursor: pointer;
    transition: background-color var(--transition);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.race-btn:hover {
    background: #c5c5c5;
}

.race-btn h3 {
    margin: 5px 0 5px 0;
    font-size: 1.2em;
}

.race-btn h4 {
    margin: 0;
    font-weight: normal;
}

#no-races-msg {
    white-space: nowrap;
    text-align: center;
    color: #919191;
    font-size: 0.8em;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    overflow: visible;
}

/* race details */

